# Default owner for everything in the repo, unless a more specific
# pattern below overrides it. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @sergiommarcial
